{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base_style.css' %}">
    <title>Wud Music</title>
</head>
<body>
    <div class="header-title-container">
        <h1 class="header-title">Django Music Encyclopedia</h1>
    </div>
    
    <div class="navigation-bar">
        <nav class="main-nav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'albums' %}">Albums</a>
            <a href="{% url 'artists' %}">Artists</a>
        </nav>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>